html  

body
  height: 100%

h1
  color: pink
  font-size: 6em
  letter-spacing: 4px
  font-family: $main-font, sans-serif
  font-weight: 600
  text-shadow: 3px 3px $tropical-blue
  margin-bottom: 30px

h2
  color: $tropical-blue
  font-family: $main-font, sans-serif
  font-size: 2em
  font-weight: 400
  text-shadow: 1px 1px white
  max-width: 550px

p
  color: pink
  font-size: 1.2em
  letter-spacing: 2px
  font-family: $main-font, sans-serif
  font-weight: 600
  max-width: 550px

a
  text-decoration: none
  color: white

  &:visited
    color: white

  &:visited:hover
    color: $deep-blue

  &:active
    color: $tropical-blue


button
  height: 10%
  width: 26%
  border: solid 3px white
  background: transparent
  text-align: center
  margin-top: 30%
  maring-bottom: 0

  p
    color: $deep-blue
    font-size: 2em
    text-transform: uppercase

button:hover
  background: $deep-blue
  border: solid 3px $deep-blue
  
  p
    color: pink

.progress
  width: 100%
  height: 7px
  background-color: pink
  position: fixed
  top: 6

progress
  z-index: 999
  position: fixed
  left: 0
  top: 0

  /* Dimensions */
  width: 100%
  height: 8px

  /* Reset the appearance */
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

  /* Get rid of the default border in Firefox/Opera. */
  border: none

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent

  /* Progress bar value for IE10+ */
  color: #52BECC

progress::-webkit-progress-bar
  background-color: pink

progress::-webkit-progress-value
  background-color: #52BECC

progress::-moz-progress-bar
  background-color: #52BECC

#home
  height: 100vh
  background-image: url(../img/trees.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-color: pink
  justify-content: center
  text-align: center
  margin-top: px


  .hero
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center 
    text-align: center

nav
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  position: fixed
  width: 100%
  margin-top: 8px
  z-index: 999


  #logo
    margin-top: 0
    color: pink
    font-size: 2.5em
    letter-spacing: 4px
    font-family: $main-font, sans-serif
    font-weight: 600
    text-shadow: 3px 3px $tropical-blue
    position: fixed
    float: left
    padding-top: 1%
    padding-left: 1.5%

  li
    font-family: 'Josefin Sans', sans-serif
    font-size: 1em
    font-weight: 700
    text-transform: uppercase
    color: white
    letter-spacing: 4px
    display: inline-block

    &:hover
      background: pink
      color: $deep-blue

    a
      text-decoration: none
      margin: 0px
      display: block
      width: 100%
      height: 100%
      padding-top: 30px
      padding-right: 60px
      padding-bottom: 25px

.textbox
  height: 75%
  max-width: 550px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  border: solid 3px white

#about,
  min-height: 100vh
  background: $secondary-background
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  border-top: solid 6px pink

  h2
    color: $deep-blue
    padding: 0 10% 3% 10%

#music,
  min-height: 100vh
  background: $secondary-background
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  border-top: solid 6px pink
  

  .music-player
    position: absolute
    bottom: 0
    background-color: $tropical-blue      
    height: 200px
    width: 100%
    justify-content: center
    text-align: center


#web,  
#connect
  height: 100vh
  background: $main-background
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  border-top: solid 6px pink

  h2
    color: $deep-blue
    padding: 0 10% 3% 10%


footer
  height: 20vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 
  text-align: center
  background: $deep-blue
  border-top: solid 6px pink
  border-bottom: solid 6px pink

          
    
